@model LotsViewModel
@{
    Lot temporaryLot = new Lot();
    int comptLT = 0; // Garde en mémoire le nombre de Terminaux
    var lotsTerminaux = Model.Lots
    .Where(l => l.IdLot.StartsWith($"{Model.Lot.IdLot}.{Model.SousLot.IdLot}."))
    .ToList();
    comptLT = lotsTerminaux.Count();
    var newLTid = comptLT + 1;
}

<div class="accordion-item">
    <div class="accordion-header d-flex justify-content-between align-items-center" id="heading-@Model.LotTerminal.Id">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-@Model.LotTerminal.Id" aria-expanded="false" aria-controls="collapse-@Model.LotTerminal.Id">
            @Model.LotTerminal.IdLot @Model.LotTerminal.Designation
        </button>
        <div class="d-flex justify-content-between align-items-center m-4 gap-2">
            <div class="col">
                <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button>
            </div>
        </div>
    </div>
    <div id="collapse-@Model.LotTerminal.Id" class="accordion-collapse collapse" aria-labelledby="heading-@Model.LotTerminal.Id"
        data-bs-parent="#accordionLots-@Model.SousLot.Id">
        <div class="accordion-body">
            <!-- Boucle des Articles -->
            Quoicoubeh
        </div>
    </div>
</div>