@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container">
    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Erreur</h1>
        <h2>@ViewBag.Message</h2>
        <div class="row align-items-center">
            <div class="col"><a class="btn" asp-area="" asp-controller="Dashboard" asp-action="Index">Tableau de Bord</a></div>
            <div class="col"><a class="btn" href="@ViewBag.Url">Page précédente</a></div>
        </div>
        <img src="~/assets/img/error.png" class="img-fluid py-5" alt="Image d'erreur">
        <div class="credits">
        </div>
    </section>
</div>
