@model List<Entreprise>
@{
  ViewData["Title"] = "Entreprises";
}
<h1>@ViewData["Title"]</h1>

<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Devis</a>
      </li>
      <li class="breadcrumb-item">Pages</li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section contact">
  <div class="col-lg-6">
    @foreach (var item in Model)
    {
      <div class="info-box card">
        <i class="bi bi-geo-alt"></i>
        <h3>@item.NomEntreprise</h3>
        <p>@item.Activite</p>
        <button class="btn btn-outline-dark btn-sm mt-4" type="button" data-bs-toggle="modal"
          data-bs-target="#verticalycentered">Modifier les informations</button>

        <div class="modal fade" id="verticalycentered" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Mise à jour des informations de @item.NomEntreprise</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="row g-3">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Nom de l'entreprise">
                  </div>
                  <div class="col-md-6">
                    <input type="email" class="form-control" placeholder="Siret">
                  </div>
                  <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" placeholder="Address">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="City">
                  </div>
                  <div class="col-md-4">
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Zip">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form><!-- End No Labels Form -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abandonner</button>
                <button type="button" class="btn btn-primary">Sauvegarder</button>
              </div>
            </div>
          </div>
        </div><!-- End Vertically centered Modal-->
      </div>

    }
</section>
